---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroCard from "../components/IntroCard.astro";
import ContactsCard from "../components/ContactsCard.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import Now from "../components/Now.astro";
import IconList from "../components/IconList.astro";
import { Icon } from "astro-icon/components";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Timothy Aurelio - Freelance front-end Developer"
  description="I'm a developer based in Italy, passionate about user experience and specializing in engaging animations and micro-interactions. My primary tools of choice include: JavaScript, React, Solid.js, Astro, Svelte, and Node.js."
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <IntroCard />
    <Now />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-2 flex gap-4"
      title="Blog"
      href="/blog"
      />

    <Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Frequently Used Stack">
      <div class="flex flex-row gap-1 flex-wrap mt-3">
        <IconList 
          iconList={[
            "golang", 
            "cs", 
            "dotnet", 
            "docker", 
            "javascript", 
            "react-dark", 
            "tailwindcss-dark", 
            "redis-dark", 
            "postgresql-dark", 
            "git", 
            "github-dark", 
            "linux-dark"
          ]} 
        />
      </div>
    </Card>

    <ContactsCard />
    <TimeZone />
    
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Github" href="https://github.com/varomnrg">
      
    </Card>
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © 2024 · Crafted with ♥️ by Timothy.
      </p>
    </Card>
  </main>
</Layout>
